.agents
node_modules
dist
dist-ssr
.astro
styled-system
styled-system-studio
.wireit
.cache
coverage
storybook-static
test-results
playwright-report
public/documents/*.pdf
*.pdf
pnpm-lock.yaml
packages
